
  
  html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  html, input {
    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
    /* form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; } */


      .page {
        height: 100%;
        position: absolute;
        width: 100%;
        top:0;
        left:0;
      }
      .logoPagePic{
        width:120px;
        height:50px;
        position:absolute;
        left:500px;
        top:35px;
        box-shadow: 0 0 4px 1px rgb(230,230,230);
      }
      /* Login Page */
      
      .login {
        background-color: #000;
      }
      
      .login .form {
        height: 100px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
      }
      
      .login .form .usernameInput {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        outline: none;
        padding-bottom: 15px;
        text-align: center;
        width: 400px;
      }
      
      .login .title {
        font-size: 200%;
      }
      
      .login .usernameInput {
        font-size: 200%;
        letter-spacing: 3px;
      }
      
      .login .title, .login .usernameInput {
        color: #fff;
        font-weight: 100;
      }
      .titleIcon{
        width:100%;
        height:80px;
        /*background: red;*/
        color:white;
        font-size: 45px;
        font-weight: 900;
        line-height: 80px;
        font-family:roman;
        text-indent: 30px;
        margin-top:20px;
      }
      .chatBoxLeft{
          width:20%;
          height:100%;
          float:left;
      }
      .chatBoxRight{
        width:80%;
        height:100%;
        float:left;
        background: url("bg.png");
        background-repeat: repeat;
    }
    .checkBox{
        width:100%;
        /* height:100%; */
        overflow: hidden;
        position:relative;
    }
    .logoPic{
      width:120px;
      height:50px;
      position:absolute;
      right:10px;
      bottom:10px;
      box-shadow: 0 0 4px 1px rgb(230,230,230);
    }
    #messages{
        width:100%;
    }
    ul{
      width:100%;
    }
    ul li{
      width:100%;
    }
    #m{
      width:100%;
      outline: none;
      background: none;
      border:none;
      height:30px;
      text-align: center;
      line-height: 30px;
      display: block;
      background: #000;
      color:white;
    }
    .addressInput{
        width:40%;
        height:60px;
        background: rgba(0, 0, 0, .7);
        color:white;
        font-size:20px;
        text-align: center;
        line-height: 60px;
        border-radius: 60px;
        outline: none;
        display: block;
        border:none;
        margin: 10px auto;
        margin-top:100px;
    }
    .btnC{
        width:40%;
        height:60px;
        background: rgba(255, 0, 0, .7);
        color:white;
        font-size:20px;
        text-align: center;
        line-height: 60px;
        border-radius: 60px;
        margin: 10px auto;
        cursor: pointer;
    }
    #loading-box{
      position: fixed;
      visibility: hidden;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,.85);

    }
    .block{
      display: block;
      margin:280px auto;
      margin-bottom:0;
    }
    .loading-text{
      width:100%;
      text-align: center;
      font-size:30px;
      color:white;
      font-weight: 800;
    }